.body-markup {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 10px 20px;
}
.content-wrapper {
  text-align: center;
  display: flex;
  flex: 1;
}

.header {
  text-align: center;
  background-color: #86d0e0;
}
.left-nav, .right-nav {
  background-color: #ffffff;
  width: 7em;
  flex: 0 0 12em;
}
.main-nav {
  //background-color: #369;
  flex: 1;
}
footer {
  background-color: #86d0e0;
  height: 5em;
}
